.container {
  display: flex;
  height: 100%;
}

.logo-container {
  flex: 1.5;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 20px; /* Add some padding if needed */
}

.logo {
  width: 50vh;
}
